Repository raspibolt/raspibolt, pull requests merged in 2022-11, with the labels that each got.

#1133 [NEW BONUS GUIDE] Tunnel⚡️Sats (paid service)
  guide/bonus/lightning/index.md
  guide/bonus/lightning/tunnelsats.md
  images/tunnelsats.png
Labels: new bonus guide

#1161 Enhancements for the "Update" section of Electrs
  guide/bitcoin/electrum-server.md
Labels: enhancement, core guide maintenance

#1070 New bonus guide: LNDg
  guide/bonus/lightning/lndg.md
  images/lndg.png
Labels: new bonus guide

#1166 Add missing LNDg entry in bonus guides index
  guide/bonus/lightning/index.md
Labels: bug

#1170 [UPDATE GUIDE] Tor: fix port and order
  guide/raspberry-pi/privacy.md
Labels: bug

#1096 [NEW BONUS GUIDE] Samourai Dojo
  guide/bonus/bitcoin/Dojo.md
  guide/bonus/bitcoin/index.md
  images/Samourai_Wallet_Setup.png
  images/Samourai_Wallet_Setup_2.png
  images/dojo_pairing.png
  images/dojo_profile.png
  images/maintancetool_auth.png
Labels: new bonus guide

#1164 [UPDATE SECURITY GUIDE] Minor fix of a SSH config deprecated parameter
  guide/raspberry-pi/security.md
Labels: core guide maintenance

#1173 [UPDATE BONUS GUIDE] LNDg - htlc-stream-lndg - `Restart=always`
  guide/bonus/lightning/lndg.md
Labels: bug

#1160 Update web-app.md
  guide/lightning/web-app.md
Labels: bug, core guide maintenance

#1178 Fix small typoin SSH guide
  guide/raspberry-pi/security.md
Labels: bug, wording, core guide maintenance

#1188 [UPDATE GUIDE] RTL - Update to v0.13.2
  guide/lightning/web-app.md
Labels: application-update

#1175 Install OTS & add timestamp check for LND and JoinMarket
  guide/bitcoin/bitcoin-client.md
  guide/bonus/bitcoin/joinmarket.md
  guide/lightning/lightning-client.md
Labels: enhancement

#1075 [UPDATE BONUS GUIDE] Important update of the Bisq bonus guide
  guide/bonus/bitcoin/bisq.md
Labels: enhancement
